[data-aos="fade-down"] {
  transform: translateY(-3px);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="fade-up"] {
  transform: translateY(3px); 
  opacity: 0;
  transition-property: transform, opacity;
}
