
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

.slick-prev::before,
.slick-next::before {
  display: none !important;
  content: none !important;
} 

*{
  box-sizing: border-box;
}

/* styles.css or tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-mobile {
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  }

  .md\:clip-normal {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .md\:clip-go-desktop {
    clip-path: polygon( 25% 0, 100% 0, 75% 100%, 0% 100%);
  }

  .clip-go-mobile {
    clip-path: polygon( 20% 0, 100% 0, 80% 100%, 0% 100%);
  }

  .clip-email-mobile {
    clip-path: polygon( 6% 0, 100% 0, 94% 100%, 0% 100%);
  }

  @media (min-width: 768px) {
    .md\:clip-desktop {
      clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
    }
  }
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up.show {
  animation: fadeInUp 2s ease-out forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-down.show {
  animation: fadeInDown 2s ease-out forwards;
}



@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeInUp2 0.6s ease forwards;
}



@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  50% {
    opacity: 1;
    transform: translateX(50px);
  }
  100%{
    transform: translateX(0px);
  }
}

.fade-in-right {
  animation: fadeInRight 0.6s ease-in-out forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  50% {
    opacity: 1;
    transform: translateX(-50px);
  }
  100%{
    transform: translateX(0px);
  }
}

.fade-in-left {
  animation: fadeInLeft 0.6s ease-in-out forwards;
}


@keyframes scaleInOut{
  0%{
    transform: scale(0.8);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform:scale(1) ;
  }
}

.scale-in-out{
  animation: scaleInOut 1s ease-in-out forwards;
}

@keyframes scaleInOut2 {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.scale-inout {
  opacity: 0;
  transform: scale(0.8);
  will-change: transform, opacity;
}

.scale-inout.show {
  animation: scaleInOut2 1s ease-in-out forwards;
}

.exo {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.exo-light {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}